cassandra-driver==3.25.0
astrapy==0.0.2
simplejson==3.17.2
pandas
path
boto3
botocore-stubs
matplotlib
dill
dnspython
evidently
fastapi
starlette
from-root
python-jose
httptools
imblearn
mypy-boto3-s3
pip-chill
pymongo
python-dotenv
types-s3transfer
uvicorn
watchfiles
websockets
wincertstore
xgboost
neuro-mf
python-multipart
path
hyperopt
mlflow
optuna
hpoflow
Jinja2
PyYAML
passlib
notebook
Pillow
python-decouple
email-validator
jwt
-e.